# Server
PORT=5000
NODE_ENV=development

# MongoDB
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/ai-leetcode-coach

# JWT
JWT_SECRET=change_me_to_a_long_random_string
JWT_EXPIRE=7d

# Client
CLIENT_URL=http://localhost:5173

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_google_client_secret

# Cookie signing
COOKIE_SECRET=change_me_to_another_long_random_string
